extends ./layout
block body
  form
    label(for="name") Name
    input#name(type="text" ng-model="name")
    label(for="password") Password
    input#password(type="password" ng-model="password")
      
